include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include SECURITY.md
include README.md
include Makefile

graft datamodel
graft tests

recursive-include datamodel *.pxd *.pyx

global-exclude *.pyc
prune docs
prune settings
prune env
prune examples
prune bin
prune rust/rs_parsers/target
prune rust/rs_core/target
prune rust/rs_validators/target
recursive-exclude */__pycache__
prune */__pycache__
